:root {
    --font-logo: font-family: "Roboto", sans-serif;
    --color-success-dark: #4a9c5d;
    --color-success-light: #d4edda;
    --color-error-dark: #da525d;
    --color-error-light: #f8d7da;
}

p {
    margin: 0;
}

rect {
    height: 100%;
}


/* cabeçalho */
.header p{
    font-family: var(--font-logo);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: initial;
    box-sizing: border-box;
}


/* busca por modelos */
input {
    border: none;
    border: none;
    outline: none;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.image-container-search {
    width: 95%;
    overflow: hidden;
}

.image-container-search img{
    object-fit: cover;
}

.text-slogan {
    color: white;
    top: 20px;
    left: 20px;
}

.search-input {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    bottom: 20px;
}

.search-input:focus-within {
    border: 2px solid #6F8EFB;
    box-sizing: border-box;
}

.search-input:focus-within .i-search {
    color: #6F8EFB;
}

/* FIM busca por modelos */

/* Categorias */

.container-buttons  {
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 20px;
}

.container-buttons::-webkit-scrollbar, .categories-container::-webkit-scrollbar {
    display: none;
}

.container-buttons, .categories-container  {
    overflow-x: auto;
    white-space: nowrap;
}

.icons {
    min-width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
}

.icons:hover {
    background-color: #6e6f7071;
}
/* FIM Categorias */

.cursor,
.row-custom,
.container{
    transition: transform 0.3s ease;
    box-sizing: border-box;
    overflow: hidden;
}

.cursor:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* FIM Products */


@media (max-width:992px ) {
    .container{
        max-width: 900px;
    } 
}

@media (min-width: 620px) {
    .image-container-search {
        width: 80% !important;
    }
    
    .text-slogan {
        top: 60px;
    }
    
    .search-input {
        height: 40px;
        bottom: 40px;
    }

}

@media (min-width: 100px) {
    
}


/* mensagens */

.message {
    height: 8%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.message-success{
    border: 1px solid var(--color-success-dark);
    background: var(--color-success-light);
    color: var(--color-success-dark);
}

.message-error {
    border: 1px solid var(--color-error-dark);
    background: var(--color-error-light);
    color: var(--color-error-dark);
}