:root {
    --font-logo: font-family: "Roboto", sans-serif;
    --color-success-dark: #4a9c5d;
    --color-success-light: #d4edda;
    --color-error-dark: #da525d;
    --color-error-light: #f8d7da;
}

p {
    margin: 0;
}

.header p {
    font-family: var(--font-logo);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: initial;
    box-sizing: border-box;
}

input {
    border: none;
    outline: none;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}


.row-custom .col-xs-12,
.row-custom .col-sm-6,
.row-custom .col-md-4,
.row-custom .col-lg-4,
.row-custom .col-xl-4 {
    margin-bottom: 10px; 
}

.container {
    max-width: 900px; /* Ajuste conforme necessário */
}

.image-container-search {
    width: 95%;
    overflow: hidden;
}

.image-container-search img {
    object-fit: cover;
}

.text-slogan {
    color: white;
    top: 20px;
    left: 20px;
}

.search-input {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    bottom: 20px;
}

.search-input:focus-within {
    border: 2px solid #6F8EFB;
    box-sizing: border-box;
}

.search-input:focus-within .i-search {
    color: #6F8EFB;
}

.container-buttons {
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 20px;
}

/* Esconde as barras de rolagem */
.container-buttons::-webkit-scrollbar,
.categories-container::-webkit-scrollbar {
    display: none;
}

.icons {
    min-width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
}

.icons:hover {
    background-color: #6e6f7071;
}

.cursor,
.row-custom,
.container {
    transition: transform 0.3s ease;
    box-sizing: border-box;
    overflow: hidden;
}

.cursor:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.a:hover img,
.a:hover .infos {
    border-radius: 20px;
}

.container-products .position-relative {
    border-radius: 20px;
    overflow: hidden;
}

.container-products .teste {
    background-color: rgba(0, 0, 0, 0.527);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container-products .position-relative:hover .teste {
    opacity: 1;
}

.categories-container  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teste button {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; 
    color: #fff;
    border: none; /
}

.teste {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.message-container {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.message {
    height: 8%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}


.message-success,
.message-info  {
    border: 1px solid var(--color-success-dark);
    background: var(--color-success-light);
    color: var(--color-success-dark);
}

@media (max-width: 576px) {
    .container {
        max-width: 400px;
    };
}

@media (min-width: 900px) {
    
    .image-container-search {
        width: 70%;
        height: 30%;
    }
}

@media (min-width: 1400px) {
    
    .image-container-search {
        width: 50%;
    }
}