{% load static %}

 {% if messages %}
    {% for message in messages %}
        <div class="message message.success {{message.tags}}">
            <p>{{message}}</p>
        </div>
    {% endfor %}
 {% endif %}

<div class="header d-flex b-0 p-0 p-2 fs-4 w-100 justify-content-between" >
    <a href=" {% url "cart" %}  "><i class="fa-solid fa-cart-shopping"></i></a>

    <a href="{% url "home" %}"><p class="m-0">FASHIONSHOP</p></a>
    
    <a href="{% url "cadastra" %}"><i class="fa-solid fa-user"></i></a>

</div>


