{% extends "home.html" %}
{% load static %}

{% block title %} Login {% endblock title %}
{% block css %}
    <link  defer rel="stylesheet" href="{% static "css/register.css" %}">
{% endblock css %}



{% block home %}
    <a href=" {% url "home" %} "><div class="container container-logo"></div></a>

    <div class="container-register d-flex flex-column">
        <div class="container-image-register">
            <form id="register-form" class="row g-3 d-flex w-75" method="post" action="{% url "login" %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="col-md-12 form-control mb-2">
                    {{field}}
                    {% if field.errors %}
                        {% for error in field.errors%}
                            {{error}}
                        {% endfor %}
                    {% endif %}
                    </div>
                {% endfor %}
            </form>
        </div>
        
        <div class="d-grid gap-1 w-50 mt-5 buttons">
            <button id="btn-register" class="btn btn-secondary mb-3 p-2" type="button">Logar</button>
        </div>
    </div>
{% endblock home %}