{% extends "home.html" %}
{% load static %}

{% block title %} Register {% endblock title %}
{% block css %}
    <link  defer rel="stylesheet" href="{% static "css/register.css" %}">
{% endblock css %}



{% block home %}
    <div class="container-register d-flex flex-column">
        <div class="container-image-register">
            <form id="register-form" class="row g-3 d-flex w-75" method="post" action="{% url "cadastra" %}">
                {% for field in form %}
                    <div class="col-md-12 form-control mb-2">
                    {{field}}
                    {% if field.errors %}
                        {% for error in field.errors%}
                            {{error}}
                        {% endfor %}
                    {% endif %}
                    </div>
                {% endfor %}
            </form>
        </div>
        
        <div class="d-grid gap-1 w-50 mt-5 buttons">
            <button id="btn-register" class="btn btn-secondary mb-3 p-2" type="button">Registrar-se</button>
            <button id="btn-login" class="btn btn-secondary p-2 ms-5 me-5" type="button">Entrar</button>
        </div>
    </div>
{% endblock home %}